{# templates/add_user.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Add New User{% endblock %}

{% block body %}
    <h1>Add New User</h1>

    {# Display any form errors here #}
    {{ form_errors(form) }}

    {# Render the form #}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.phoneNumber) }}
        {# Add more form fields here if needed #}

        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
