{# templates/auth/update_user.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Update User{% endblock %}

{% block body %}
    <h1>Update User</h1>
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(form) }}
{% endblock %}
